  <div class="center hero-unit">
    <h1>Welcome to the Prototype App</h1>

    <h2>
      This is the home page for the TODO application.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("todo_app.png", size: "140" ,alt: "TODO"), root_url %>
